name: Build CMake project
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Project
        uses: actions/checkout@v5.0.1

      - name: Setup CMake
        uses: lukka/get-cmake@latest
        
      - name: Generate build files
        run: cmake -B build
    
      - name: Build project Debug
        run: cmake --build build --target EUtilities --config Debug
      
      - name: Build project Release
        run: cmake --build build --target EUtilities --config Release
